.FilterPanel {
  padding: 1rem;
  border: solid 1px black;
  border-radius: .5rem;
  text-align: left;
}

.FilterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}